html, body {
  font-family: $avenirBook;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $didotRegular;
}

h1, .h1 {
  font-size: 2.188rem;
  line-height: 2.625rem;
}

p {
  font-family: $avenirLight;
  letter-spacing: 0.03rem;
  font-weight: 300;
}

a {
  text-decoration: none !important;
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 3.75rem;
    margin-top: 3.75rem;
  }
}

.mission-heading {
  margin-bottom: 1.875rem;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 2rem;
  }
}

.back-links {
  font-family: $didotRegular;
  color: rgba(0, 0, 0, 0.8);

  a {
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: #000000;
    }
  }
}
