// Fonts
$avenirLight: "AvenirLight", Arial, sans-serif;
$avenirBook: "AvenirBook", Arial, sans-serif;
$avenirMedium: "AvenirMedium", Arial, sans-serif;
$avenirHeavy: "AvenirHeavy", Arial, sans-serif;

$didotRegular: "DidotRegular", Georgia, Times, "Times New Roman", serif;
$didotMedium: "DidotMedium", Georgia, Times, "Times New Roman", serif;
$didotBold: "DidotBold", Georgia, Times, "Times New Roman", serif;
$didotItalic: "DidotItalic", Georgia, Times, "Times New Roman", serif;
